%p#notice= notice


.row
  .span6{:id=>"passage-span"}
    .passage
      %h3
        %b #{@passage.title}
        
      = @passage.render_bible_verses.html_safe
      
      %br
      %br
      
      %b Content:
      = @passage.content

      #edit_delete_passage
        - if user_signed_in?
          - if current_user.id == @passage.user_id
            = link_to 'Edit', edit_passage_path(@passage), :remote => true
            \|
            = link_to 'Delete', @passage, :confirm => 'Are you sure?', :method => :delete

      

  .span6{:id=>"post-comment-span"}
    .post-comment
      #new_post
        %br
      #share_button
        = link_to 'Share your thoughts about this passage', new_post_path(:passage_id => @passage.id), :remote => true, :class => 'btn btn-success btn-large'

      #posts
        - @passage.posts.each_with_index do |post, index|
          #post
            .post{:id=>"edit_post_#{index}"}
            
            .post{:id=>"post_content_#{index}"}
              = post.content.html_safe
              %br
              - if user_signed_in?
                - if current_user.id == post.user_id
                  = link_to 'Edit', edit_post_path(post, :passage_id => @passage.id, :index => index), :remote => true
                  \|
                - if current_user.id == post.user_id || current_user.id == post.passage.user_id
                  = link_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete
            %br
          
            #comments
              - post.comments.each_with_index do |comment, comment_index|
                #comment
                  .edit_comment{:id=>"edit_comment_#{comment_index}"}
                  
                  .comment_content{:id=>"comment_content_#{comment_index}"}
                    = comment.content.html_safe
                    %br
                    - if user_signed_in?
                      - if current_user.id == comment.user_id
                        = link_to 'Edit', edit_comment_path(comment, :post_id => post.id, :index => comment_index), :remote => true
                        \|
                      - if current_user.id == comment.user_id || current_user.id == comment.post.user_id
                        = link_to 'Delete', comment, :confirm => 'Are you sure?', :method => :delete
              
            %br  
            .new_comment{:id=>"new_comment_#{index}"}
            
            .new_comment{:id=>"comment_button_#{index}"}
              = link_to 'Comment on this post', new_comment_path(:post_id => post.id, :index => index), :remote => true, :class => 'btn btn-success btn-small'
          
